@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');


body {
    color:white;
    font-family: 'Teko', sans-serif;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0px;

}

.container {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.container #name {
    font-size: 8.0em;
}

#containerGame {
    min-height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border:2px solid white;
    border-radius: 10px;
    min-width: 60%;
    padding:10px;
    

}

#scoreLabel {
    display: flex;
    width:100%;
    font-size: 3.0em;
    justify-content: space-around;
    
}

#diceImg {
    display:block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}




button {
    color: white;
    background-color: transparent;
    border: none;
    border:2px solid white;
    border-radius: 10px;
    padding: 15px 32px;
    margin:30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 5.0em;
    min-width: 30%;
  }