@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');




body {
    color:white;
    font-family: 'Teko', sans-serif;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0px;

}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    
}


.player {
    align-self: center;
    border: none;
    margin:0 1%;
    border:1px solid white;
    border-radius: 10px;
}

#pLeft {
    background: #11998e;
    background: -webkit-linear-gradient(to bottom , #38ef7d, #11998e);
    background: linear-gradient(to bottom, #38ef7d, #11998e);
}


button {
    max-height: 100%;
    font-size: 32pt;
    color: white;
    background-color: transparent;
    border: none;
    border:2px solid white;
    border-radius: 10px;
    padding: 15px 32px;
    margin:0px 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

button:hover {
    background: #11998e;
    background: -webkit-linear-gradient(to bottom , #38ef7d, #11998e);
    background: linear-gradient(to bottom, #38ef7d, #11998e);

}

.header {
    
    
    
    width: 100%;
    
    
}
.top {
    
    
    
    width:50%;
    
}

.player {
    
    
    width:45%;
    
    
}


@media only screen and (min-width: 1200px) {
   .top h1 {
        font-size: 5.0em;
    }
}